---
---

@import "{{ site.theme }}";

#main-logo {
	width: 50%;
	height: 50%;
	transition: 0.5s;
}

#main-logo:hover{
	width: 55%;
	height: 55%;
}

.title {
	font-family: 'Montserrat', sans-serif;
	font-size: 28px;
	font-style: bold;
} 

h2 {
	font-family: 'Montserrat', sans-serif;
}

p {
	text-align: justify;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}